#wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    background-color: lavender;
}

#background_color {
    background-color: whitesmoke;
}

h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.pic_size {
    width: 400px;
    height: auto;
}

.centered {
    padding-left: 280px;
}

#footer {
    width: 960px;
    background-color: lavender;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 20px;
    text-align: center;
}

table,
th,
td {
    border: 1px black;
    border-collapse: collapse;
}